.footer {
    padding: 1rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    list-style: none;
}

@media (min-width: 44rem) {
    .footer__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}